*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation styles */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
    
}
.text-primary{
    color: #FD6E0A;
}
.btn-hire{
    background-color: #FD6E0A;
    border-style: none;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    font-weight:600;
    font-size: 20px;
}