*{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation styles */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top:20px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
    
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-style: none;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    font-weight:600;
    font-size: 20px;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.banner-btn{
    padding-top: 30px;
}

.banner-text{

}
.banner-greeting{
 font-size: 45px;   
 color: #474747;
 margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight:800;
    margin-bottom: 20px;
}
.banner-description{
    color: #373736;
    text-align: justify;
    width: 500px;
}
.banner-img img{
    padding-left: 50px;
    width: 500px;
}